.vs/slnx.sqlite
.vs/config/applicationhost.config
.vs/xmlbounty/DesignTimeBuild/.dtbcache
.vs/xmlbounty/v15/.suo
.vs/xmlbounty/v15/Server/sqlite3/db.lock
.vs/xmlbounty/v15/Server/sqlite3/storage.ide
.vs/xmlbounty/v15/Server/sqlite3/storage.ide-shm
.vs/xmlbounty/v15/Server/sqlite3/storage.ide-wal
